.imageContainer {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 200px;
}

.cardImgTop {
	transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
	transform-origin: center;
}

.imageContainer:hover .cardImgTop {
	transform: rotateY(180deg);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.card {
	animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}
