.jumbotron {
	background-image: url('../../assets/images/jumbotron-bg.webp');
	background-size: cover;
	background-position: center;
	color: white;
	position: relative;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.6);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.content {
	position: relative;
	z-index: 1;
}